<h1>{{title}}</h1>
  <p>Hi! Welcome to {{title}}</p>
{{#each products}}
   test!
{{/each}}

<h2>{{field3}}</h2>

{{# if condition }}
true
{{else}}
false
{{/if}}

{{# each anyArray as |val key| }}
    {{val}}:{{key}}
{{/each}}